* {
	box-sizing: border-box;
}

$white: #ffffff;
$blue: #5f54ff;
$lightBlue: lighten($blue, 10%);

:root {
	--dm-white: #ffffff;
	--dm-blue: #5f54ff;
	--dm-light-blue: #{$lightBlue};
}

%box-shadow {
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color:#ccc;
	display: flex;
	align-items:center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient( to bottom, #ff7002, #ffff00, #ff7002);
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	line-height: 1.2;
}

#drum-machine {
	@extend %box-shadow;
	width: 790px;
	height: 510px;
	background-image: linear-gradient( 135deg, #5f54ff, #5f54ff);
	display: flex;

}

.keyboard {
	padding: 70px 40px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	gap: 56px 68px;
}

.drum-pad {
	@extend %box-shadow;
	width: 130px;
	height: 86px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: var(--dm-white);
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
	transition: transform .1s ease;

}



.adjust-pad {

	padding-right: 40px;
	flex-grow: 1;

	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
	background-image: linear-gradient(to right, var(--dm-light-blue), var(--dm-blue));
	h2 {
		font-size: 25px;
	}

	&-container {
		align-items: flex-end;
		// border-left: 3px solid rgba(255,255,255,.5);
		display: flex;
		flex-direction: column;
		color: var(--dm-white);
		height: 100%;
		padding-left: 20px;

		&:before {
			content: '';
			width: 3px;
			height: 100%;
			left:-2px;
			top: 0;
			position: absolute;
			background-color: rgba(255,255,255,.5);
		}
	}
}

.switcher {
	width: 80px;
	height: 40px;
	display: block;
	border: 3px solid var(--dm-white);
	border-radius: 10px;
	position: relative;
	cursor: pointer;

	&:before {
		content: '';
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50%;
		background-color: transparent;
		transition: background-color .3s ease, left .3s ease;
		border: 2px solid var(--dm-white);
	}

	&.on:before {
		background-color: var(--dm-white);
		left: 40px;
	}
}

.container{
  background-color:red;
  width:30%;
  padding:1em;
  text-align:center;
}

input[type="range"]{
    width: 100%;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: var(--dm-blue);
    border: 3px solid var(--dm-white);
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 7px;
    background: white;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

.power-label {
	position: absolute;
	top: 30px;
	right: 40px;
}

.volume-label {
	align-self: center;
}

#display {
	font-size: 25px;
	line-height: 30px;
	margin-top: 20px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	min-height: 30px;
  	width:124px;
}

.volume-label {
	margin-top: 20px;
}

#volume-range {
	margin-top: 5px;
}

.genre-label {
	margin-top: auto;
}

.genre-switcher {
	margin-top: 10px;
}

