$primary-color: #1d1d1b;
$secondary-color: #eee;
$white: #fff;

$font-size: 62.5%;
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

*, *:before, *:after {
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

body {
	background-color: $secondary-color;
	margin: 0;
	width: 100%;
	height: auto;
	font-family: $font-stack;
	height: calc(100vh - 87px);
}

#root {
	height: 100%;
	width: 100%;
	display: flex;

}

.header {
	background-color: #1b1b1d;
	padding: 0.625rem 0.875rem;

	font: {
		size: 2rem;
		weight: 600;
		style: italic;
	}
	line-height: 2.5rem;
	color: $white;
	width: 100%;
}

.container {
	width: 100%;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
}

.text-area {
	width: 50%;
	height: 100%;
	display: block;
}

.textarea-input {
	width: 100%;
	height: 100%;
	resize: none;
	border-right: 4px dashed #003f96;
	padding: 10px;
	font-size: inherit;
	font-size: 1rem;
	font-family: inherit;
	display: block;
	&:focus,
	&:active {
		outline: 5px solid rgba(56,120,207,.5);
		outline: none;
	}
}

.preview {
	width: 50%;
	height: 100%;
	padding-left: 20px;
	overflow: auto;
}

.footer {
	background-color: #000b89;
	padding: 5px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 15px);
	grid-template-rows: 15px;
	justify-content: flex-end;
	align-items: center;
	gap: 0 5px;
	align-items: center;
	border-bottom: 2px solid #565656;
	background-color: #c1c1c1;
}

.thunk {
	border-radius: 50%;
	background-color: red;
	display: flex;
	width: 15px;
	height: 15px;
	animation-name: thunk;
	animation-duration: 5s;
	animation-iteration-count: infinite;

	// border: 2px solid $white;
	&:nth-child(2) {
		animation-delay: 1.5s;
	}
	&:nth-child(3) {
		animation-delay: 3s;
	}
}

@keyframes thunk {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: linghblue;}
  75%  {
  	background-color: green;
  }
  100% {background-color: red;}
}

